@page
@model BookTracker_App.Pages.EditBookModel
@{
}


<form method="post">
    <input asp-for="book.Id" />
    <div>
        <label asp-for="book.Title"></label>
        <input asp-for="book.Title">
    </div>

    <div>
        <label asp-for="book.Author"></label>
        <input asp-for="book.Author">
    </div>

    <div>
        <label asp-for="book.Description"></label>
        @*<input asp-for="book.Description">  *@      
        @Html.EditorFor(m => m.book.Description, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div>
        <input type="submit" value="Update Book" />
    </div>
</form>

@*<section>
    <section>
        <ul>
            @foreach (var ep in Model.Editions)
            {
                <li>
                    <a href="@ep.Author" target="_blank">@ep.Title (approx. {@ep.Year}</a>
                </li>
            }
        </ul>
    </section>
    <h3>Add Edition</h3>
    <form method="post" asp-page="AddEdition">
        <input type="hidden" asp-for="edition.BookId" value="@Model.book.Id"/>
        <div>
                <label asp-for="edition.BookId"></label>
                  <input asp-for="edition.BookId">
                <select asp-for=edition.BookId asp-items="Model.BookList">
                    <option value="">-----Pick a Book------</option>
                </select>
            </div> 
        <div>
            <label asp-for="edition.Title"></label>
            <input asp-for="edition.Title">
        </div>

        <div>
            <label asp-for="edition.Author"></label>
            <input asp-for="edition.Author">
        </div>

        <div>
            <label asp-for="edition.Year"></label>
            <input asp-for="edition.Year">
        </div>

        <div>
            <label asp-for="edition.Synopsis"></label>
            <input asp-for="book.Description">
            @Html.EditorFor(m => m.edition.Synopsis, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div>
            <input type="submit" value="Add Book" />
        </div>
    </form>
</section> *@